*,
*::before,
*::after {
  font-family: var(--ff-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

ul[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  letter-spacing: 5px;
}
